.red{
    color: red;
}

.green{
    color:green
}
<<<<<<< HEAD

.tree-title {
    width: 100%;           
    text-align: center;    
    margin: 0;            
    padding: 10px 0;      
    font-size: 2em;       
    color: #228B22;       
    background-color: #d19292; 
}
=======
>>>>>>> 18c94c2c8859c638720101ef1d07d25c45688d07
